repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.5
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [ python, pyi ]
        args: [ --fix ]
        exclude: '^openmockllm/tei/schemas\.py$'
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ]
        exclude: 'openmockllm/tei/schemas\.py'  # Exclure le fichier généré
